doctype html
html(lang="ja")
  head
    title Unified Vue and Express App
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/bundle.js") // ビルドされたVueアプリ
  body
    div#app // Vueアプリケーションのマウントポイント
